/* Bu kısmı eklemeyi unutmayın class adınıza göre değiştirebilirsinizz ancak MapContainera height ve width vermezseniz göremezsiniz*/

* {
  margin: 0;
  padding: 0;

}

.hazir-map {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0
}

.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
  
#root{
  height: 200vh;
}
  
.paper-button {
  text-transform: none;
}