/* Bu kısmı eklemeyi unutmayın class adınıza göre değiştirebilirsinizz ancak MapContainera height ve width vermezseniz göremezsiniz*/

* {
  margin: 0;
  padding: 0;

}

.hazir-map {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0
}

.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
  
#root{
  height: 200vh;
}
  
.paper-button {
  text-transform: none;
}

.leaflet-popup-content p {
  margin: 0px;
 }
 
 
 .leaflet-popup-content-wrapper, .leaflet-popup-tip {
   width: 420px;
   background: white;
   color: #333;
   box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
 }
 
 .css-s39t6n-MuiTypography-root {
   margin: 0;
   font-family: "Roboto","Helvetica","Arial",sans-serif;
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.5;
   letter-spacing: 0.00938em;
   padding: 0px 1px;
   display: absolute;
   text-align: center;
   color: #182151;
   font: normal normal normal px/35px Segoe UI;
   letter-spacing: 0px;
   color: #182151;
   opacity: 0.63;
 }